<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.coffee.InventoryMapper">

  <!-- 전체 개수 조회 -->
  <select id="InvTotal" resultType="int">
  	SELECT COUNT(*) 
    FROM product 
  	WHERE product_isdel = 0
  </select>
  
  <!-- 페이징 리스트 조회 -->
  <select id="InvList" parameterType="PageRequestDto" resultType="StockDto">
	  select * from (
	    select rownum rn, a.* from (
	        select p.*, ub.cd_contents as unit_contents, tb.cd_contents as type_contents,
	        	REAL_STOCK(p.product_code) as real_stock, USABLE_STOCK(p.product_code) as usable_stock 
	        from product p, bunryu ub, bunryu tb
	        where ub.bcd = 750 and p.product_unit = ub.mcd
	        	and tb.bcd = 700 and p.product_type = tb.mcd
	    ) a
	) where rn between #{start} and #{end}
  </select>
  
  <select id="jhMfgReqAll" resultType="com.oracle.coffee.dto.InventoryDto">
  SELECT *
  FROM product
  WHERE product_isorder = 0
  </select>

</mapper>
