<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.coffee.InventoryMapper">

	<select id="InvTotal" resultType="int">
		SELECT COUNT(*) FROM product WHERE product_isdel = 1
	</select>
	
	<select id="jhInvAll" parameterType="InventoryDto" resultType="InventoryDto">
		<![CDATA[
		SELECT * FROM 
		( 
		SELECT rownum rn , a.*
		FROM (select * from product order by product_code)a
		)
		WHERE rn >= #{start}
		AND rn <= #{end}
		]]>
	</select>
</mapper>